@font-face {
    font-family: 'Orbitron';
    font-style: normal, oblique;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/orbitron/v31/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWgz.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
body {
    background-color: #080808;
    background-image: url('main/assets/background.svg');
    background-size: cover;
}

h1 {
    font-family: 'Orbitron';
    font-style: oblique;
    text-shadow: 3px 0 0 #ff71ce, 0 -3px 0 #7dff00;
    color:#05d9e8;
    font-size:xx-large;
}

h2 {
    font-family: 'Orbitron';
    font-size:medium;
    color:#05d9e8;
}
h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size:small;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #111;
    overflow: hidden;
    /*padding: 40px;*/
  }
  
  /* Style the links inside the navigation bar */
  .topnav-1 a {
    float: right;
    color: #05d9e8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    font-family:'Courier New', Courier, monospace;
  }
  
  /* Change the color of links on hover */
  .topnav-1 a {
    background-color: #111;
    color: #98F5FC;
  }
  
  /* Add a color to the active/current link */
  .topnav-1 a.active {
    background-color: #04AA6D;
    color: white;
  }
 /* Style the links inside the navigation bar */
 .topnav-2 a {
    float: left;
    color: #05d9e8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    font-family:'Courier New', Courier, monospace;
  }
  
  /* Change the color of links on hover */
  .topnav-2 a {
    background-color: #111;
    color: #98F5FC;
  }
  
  /* Add a color to the active/current link */
  .topnav-2 a.active {
    background-color: #04AA6D;
    color: white;
  }

  .frontpage {
    float: center;
    color:#05d9e8;
    padding: 15%;
  }

.frontpage img {
  width: 50px;
  height: 50px;
}
