@font-face {
    font-family: 'Orbitron';
    font-style: normal, oblique;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/orbitron/v31/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWgz.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /*main theme of the site*/
body {
    background-color: #080808;
    background-image: url('main/assets/background.svg');
    background-size: cover;
}
h1 {
    font-family: 'Orbitron';
    font-style: oblique;
    text-shadow: 2px 0 0 #ff71ce, 0 1px 0 #7dff00;
    color:#05d9e8;
    font-size:xx-large;
    text-transform: capitalize;
}
h2 {
    text-shadow: 2px 0 0 #ff71ce, 0 1px 0 #7dff00;
    font-family: 'Orbitron';
    font-style: oblique;
    font-size:x-large;
    color:#05d9e8;
}
h3 {
  font-family: 'Orbitron';
  font-size: large;
  color:#05d9e8;
}
p {
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  color: #05d9e8;
}
/*themed navigation bar*/
.topnav-container {
  background-color: #272727;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
}
.topnav-2 {
  display: flex;
  align-items: center;
  gap: 5%;
}
.topnav-2 a {
  text-decoration: none;
}
.topnav-2 a img {
  max-width: 40px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.topnav-2 a:hover img {
  transform: scale(1.1);
}
.topnav-1 {
  display: flex;
  gap: 75px;
}
.topnav-1 a {
  color: #05d9e8;
  text-align: center;
  text-decoration: none;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  transition: color 0.3s ease-in-out;
}
.topnav-1 a:hover {
  color: #98F5FC;
}
/*landing page title*/
.frontpage {
  float: center;
  color:#05d9e8;
  margin-left: 15%;
  margin-right: 15%;
  padding: 5%;
  height: 20%;
}
.frontpage p {
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  color: #05d9e8;
}
/*contact icon list*/
.icon-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}
.icon-container a img,
.phone-icon img {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.phone-icon {
  position: relative;
  cursor: pointer;
}
.icon-container a img:hover {
  filter: blur(0.9px);
  filter:brightness(1.75);
  transform: scale(1.1);
}
.phone-number {
  display: none;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: #98F5FC;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
}
.phone-icon img:hover {
  filter: blur(0.9px);
  filter:brightness(1.75);
  transform: scale(1.1);
}
.phone-icon:hover .phone-number {
  display: block;
}
/*main content blocks*/
.content-container {
  display:flex;
  flex-direction: column;
  align-items: left;
  padding: 4%;
  margin-left: 15%;
  margin-right: 15%;
}
.content-container p {
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  color: #05d9e8;
}
.content-container a {
  color:#98F5FC;
  font-style: underline;
}
/*code box styles and behavior*/
.code-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  align-items: center;
}
.code-box {
  background-color: #272727;
  /*border-left: 5px solid #080808;*/
  font-family: "Courier New", monospace;
  display: inline-block;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  color:#98F5FC;
  overflow-x: auto;
  width: 95%;
  max-height: 25vh;
}
.code-box code {
  display: block; /* Ensures <code> takes full width */
  margin: 0; /* Removes extra margin */
  padding: 3%; /* Removes any default padding */
  white-space: pre-wrap;
}
.copy-btn {
  position: absolute;
  top: -5px;
  right: 10px;
  background: #05d9e8;
  color: white;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background 0.3s;
}
.copy-btn:hover {
  background: #98F5FC;
}
